.card {
    background-color: var(--rm-main-black);
    width: 450px;
    margin:50px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card h1 {
    margin-left: 20px;
    color: var(--rm-main-white);
}

.card h2 {
    font-size: 16px;
    color: var(--rm-main-white);
}

.post-content-preview{
    font-size: 16px;
    color: var(--rm-main-white);
    margin: 20px;
    margin-bottom: 50px;
}

.chin {
    margin-top: 20px;
    padding-bottom: 10px;
}
.chin #author {
    color: var(--rm-main-white);
    background-color: var(--rm-main-pink);
    margin: 0px;
    padding: 10px;
}

.chin #date {
    background-color: var(--rm-main-blue);
    margin-right: auto;
    padding: 10px;
    width: 80%;
}

.card:hover {
    box-shadow: 0px 0px 25px 5px var(--rm-main-pink);
}