@font-face {
    font-family: SpaceGrotesk;
    src: url(fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(fonts/SpaceGrotesk-Bold.ttf);
}


:root {
    --rm-main-purple: #6200FF;
    --rm-main-pink: #FD01FC;
    --rm-main-green: #00FF01;
    --rm-main-blue: #00FEFC;
    --rm-main-yellow: #FDFE00;
    --rm-main-white: #FFFFFF;
    --rm-main-black: #000000;

}

body {
    font-family: SpaceGrotesk-Bold;
    font-size: 16px;
    margin: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#largeLogo {
    /*margin-top: 2.5%;*/
    padding-top: 2.5%;
}

#topHeader {
    padding-left: 10%;
    padding-right: 10%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 32px;
}

#permTopHeader {
    background-color: var(--rm-main-black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
#permTopHeader img {
    width: 10%;
    height: 10%;
}

#topMarquess {
    z-index: 3;
    position: absolute;
    top:0;
    width: 100%;
}

.pinkGlow {
    box-shadow: 0px 0px 25px 5px var(--rm-main-pink);
}

.blueGlow {
    box-shadow: 0px 0px 25px 5px var(--rm-main-blue);
}

.yellowGlow {
    box-shadow: 0px 0px 25px 5px var(--rm-main-yellow);
}

/* Dropdown Button */
.dropbtn {
    font-family: SpaceGrotesk-Bold;
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.headerButton {
    font-family: SpaceGrotesk-Bold;
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.headerButton:hover {
    background-color: var(--rm-main-pink);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 0px 25px 5px var(--rm-main-blue);
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: SpaceGrotesk-Bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: solid;
    border-color: var(--rm-main-pink);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--rm-main-pink);
}

#bottomNavbar {
    background-color: var(--rm-main-black);
    overflow: hidden;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    font-size: 12px;
    color: var(--rm-main-white);
    margin-bottom: 2%;
}

.grid-container {
    width: 10%;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.text2 {
    font-size: 16px;
    color: var(--rm-main-white);
}
.text3 {
    font-size: 12px;
    color: var(--rm-main-yellow);
}
.icon {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon:hover {
    transform: scale(1.1, 1.1);

}
.icon::after {
    filter: drop-shadow(0rem 0rem 0.5rem var(--rm-main-blue));
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-color: var(--rm-main-pink);
    border-style: solid;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-bottom: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}