@font-face {
    font-family: SpaceGrotesk;
    src: url(fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(fonts/SpaceGrotesk-Bold.ttf);
}


:root {
    --rm-main-purple: #6200FF;
    --rm-main-pink: #FD01FC;
    --rm-main-green: #00FF01;
    --rm-main-blue: #00FEFC;
    --rm-main-yellow: #FDFE00;
    --rm-main-white: #FFFFFF;
    --rm-main-black: #000000;

}

body {
    margin: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#largeLogo {
    /*margin-top: 2.5%;*/
    padding-top: 2.5%;
}

#topHeader {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinkGlow {
    box-shadow: 0px 0px 25px 5px var(--rm-main-pink);
}

.blueGlow {
    box-shadow: 0px 0px 25px 5px var(--rm-main-blue);
}

/* Dropdown Button */
.dropbtn {
    font-family: SpaceGrotesk-Bold;
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.headerButton {
    font-family: SpaceGrotesk-Bold;
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.headerButton:hover {
    background-color: var(--rm-main-pink);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 0px 25px 5px var(--rm-main-blue);
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: SpaceGrotesk-Bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: solid;
    border-color: var(--rm-main-pink);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--rm-main-pink);
}