/* --- fonts --- */
@font-face {
    font-family: SpaceGrotesk;
    src: url(/fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(/fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: NunitoSans-SemiBold;
    src: url(/fonts/NunitoSans-SemiBold.ttf);
}
/* --- end fonts --- */

:root {
    /* --- color scheme variables --- */
    --rm-main-purple: #6200FF;
    --rm-main-pink: #FD01FC;
    --rm-main-green: #00FF01;
    --rm-main-blue: #00FEFC;
    --rm-main-yellow: #FDFE00;
    --rm-main-white: #FFFFFF;
    --rm-main-black: #000000;
    /* --- end color scheme variables --- */
}

/* --- defaults --- */
body {
    font-family: SpaceGrotesk-Bold;
    font-size: 16px;
    margin: 0px;
}
/* --- end defaults --- */